// variables
$mm-sample-font-sans-serif: Helvetica, Arial, sans-serif;
$mm-sample-font-serif:      Georgia, "Times New Roman", Times, serif;


html {
  font-size: 62.5%; //why do we set the font size to this value at the html level?
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  @media (max-width: 1200px) {
    font-size: 50%;
  }

}

body {
  background-color: #f3f3f3;
}

header {
  //nav work is already completed, no need to touch this
  height: 6rem;
  background-color: #002f6c;
  box-sizing: border-box;
  padding: 2.5rem 0;

  .container {
    margin-top: -.6rem;
  }

  img {
    width: 16rem;
  }
}

.container { 
  margin-top: 5rem;
  &_header {
    @media (min-width: 990px) {
      width:70rem;
    }
    
    p {
      @extend %subtext
    }
  }
 }


//Typography and button styles - included are some placeholders for styling
//Keep in mind, a component may use one placeholder for a title / etc now but it
// may change in 6 months and we want to be able to swap via only CSS changes
h1, h2, %h2 {
  font-family: $mm-sample-font-serif;
  color: #000;
}

p, h1, h2, %h2 { margin: 0 0 2rem 0; }
h1      { font-size: 4rem; }
h2, %h2 { font-size: 3rem; }
p       { font-size: 1.4rem; }

a {
  color: #005A9F;
  &:hover {
    color: #002f6c;
    text-decoration: none;
  }
}

%eyebrow {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  line-height: 1.2rem;
  margin-bottom: 2.4rem;
}

%subtext {
  font-size: 1.2rem;
}

%btn-primary {
  color: #000;
  font-size: 1rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.2rem 4rem;
  background-color: yellow;
  border: 0;
  border-radius: 0;
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 2rem;
  

  @media (max-width: 990px) {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 4rem;
    height: auto;
  }

}
.mm-card {
  //feel free to make any comments to explain your thinking
  // Using Flex to divide the tiles and flex basis for width

  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
  outline: none;
  overflow: hidden;
  flex-basis: 31%;

  @media (max-width: 990px) {
    width: 100%;
    margin-bottom: 3rem;
  }


  .image {
    //including some base styles so this shows up in the basic page, feel free to change these
    // Removed the inline styling of images from html to scss
    min-height: 15rem;
    background-image: url(http://via.placeholder.com/778x368);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 20px;

    p {
      &:nth-child(1) {
        @extend %eyebrow;   
      } 
     
      &:nth-child(3),  &:nth-child(4) {
        @extend %subtext;
      }
    };

    footer {
      p {
        &:nth-child(1) {
          @extend %subtext;
          
          letter-spacing: inherit;
          text-transform: inherit;
          line-height: inherit;
          margin-bottom: 2rem;
        } 
        &:nth-child(2) {
          @extend %subtext;
          margin-bottom: 0rem;
          
        } 
      }   
    }
  }

  button {
    @extend %btn-primary;
    margin-top: 7rem;
    @media (max-width: 990px) {
      margin-top: 4rem;
    }
  }

  &_category{
    margin-top: 1.5rem;
  }

  &_link{
    font-weight: bold;
    margin-top: 8rem;
    
    @media (max-width: 990px) {
      margin-top: 4rem;
    }
  }
}
